/*控制整个滚动条*/
::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  width: 5px;
  height: 10px;
  background-clip: padding-box;
}

/*滚动条两端方向按钮*/
::-webkit-scrollbar-button {
  background-color: rgba(255, 255, 255, 0);
  height: 0px;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb {
  background-color: rgba(207, 207, 207, 0.6);
  border-radius: 5px;
}

/*滚动条中间滑动部分*/
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(207, 207, 207, 1);
  border-radius: 5px;
}


/*滚动条右下角区域*/
::-webkit-scrollbar-corner {
  background-color: rgba(255, 255, 255, 0);
  height: 0px;
}

#sidebar {
  max-width: 240px;
}

#sidebar nav {
  width: 100%;
}

@media (max-width: 768px) {
  #sidebar {
    max-width: 48px;
  }
  #sidebar .nav-link span {
    position: absolute;
    opacity: 0;
  }
}

@media (max-width: 576px) {
  #sidebar {
    max-width: 0;
    overflow-x: hidden;
  }
}

.display-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.div-sidebar {
  height:100vh;
  width: 280px;
  background-color: rgb(252, 252, 254);
}

.item-sidebar.active {
  padding-left: 16px;
  TEXT-DECORATION: none;
  display: flex;
  align-items: center;
  font-weight:bold;
  height: 45px;
  background-color: rgb(244, 246, 251);
  color: rgb(92, 112, 190)
}

.item-sidebar {
  padding-left: 16px;
  TEXT-DECORATION: none;
  display: flex;
  align-items: center;
  height: 45px;
  background-color: rgb(252, 252, 254);
  color: rgb(0, 0, 0)
}

.div-content {
  display: flex;
  width: 100vw;
  min-width: 360px;
  height:100vh;
  background-color: rgba(92, 112, 190, 0.3);
  flex-grow: 1
}

.div-details {
  height:100vh;
  width: 360px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 252, 254);
}

.div-size {
  border: 1px solid red;
  width: 200px;
  height: 120px;
  margin: 10px;
}

.div-list-item {
  margin: 8px;
  padding-left: 16px;
  TEXT-DECORATION: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.div-list-item:hover {
  margin: 8px;
  padding-left: 16px;
  TEXT-DECORATION: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 45px;
  border-radius: 5px;
  background-color: rgb(241, 242, 243);
  color: rgb(0, 0, 0)
}

.head-title {
  font-weight:bold;
  font-size: 35px;
  margin-left: 35px;
  margin-top: 30px;
  color: rgb(92, 112, 190)
}

.head-date {
  font-size: 15px;
  margin-left: 35px;
  color: rgb(92, 112, 190)
}

.page {
  display: flex;
  flex-direction: column;
  height:100vh;
}

.table-area {
  margin-top: 8px; 
  margin-left: 16px;
  margin-right: 16px; 
  margin-bottom: 16px; 
  flex: 1; 
  border-radius: 5px;
  overflow-y: hidden;
  overflow: hidden;
  background-color: rgb(92, 112, 190);
}

.table-area:hover {
  overflow: overlay;
}

.detail-name {
  font-size: 20px;
  font-weight: bold;
  margin: 16px;
}

.detail-content {
  flex: 1; 
  background-color: rgb(245, 245, 245);
}

.detail-item {
  margin: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 45px;
  border: 1px solid  rgb(237, 237, 237);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.detail-item:hover {
  margin: 8px;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 45px;
  border: 1px solid  rgb(237, 237, 237);
  border-radius: 5px;
  background-color: rgb(250, 251, 252);
  color: rgb(0, 0, 0)
}

.detail-foot {
  bottom: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.detail-status {}